<h1>Homepage of Recipes project</h1>

<h5>Here are all the recipes of our users:</h5>

<ul>
  <% @all_recipes.each do |recipe| %>
    <li>
      <%= link_to "#{recipe.name}", recipe_path(recipe) %>
      <%= "| by #{recipe.user.name}" %>
      <%= "| #{recipe.rating} / 5 stars" if !recipe.rating.nil?%>
    </li>
  <% end %>
</ul>
